body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.178);
}

#nav_bar
{
    
}

#nav_list
{
    position: fixed;
    list-style-type: none;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: inline;
    margin: 0;
    padding: 0;
    background-color: rgba(30, 116, 196, 0.685);
    border-bottom: 1px solid black;
}

.nav_list_element
{
    float: left;
    display: inline;
}

.nav_link
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_link:hover
{
    background-color: rgba(20, 76, 126, 0.685);
}

#page_title
{
    margin-top: 65px;
    text-align: center;
    font-size: 42px;
}