<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Home page for Michael Zeleney's Portfolio">
        <meta name="keywords" content="Portfolio, Michael Zeleney">
        <meta name="author" content="Michael Zeleney">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="../img/Linus.png" type="image/x-icon">

        <link rel="stylesheet" href="/public/css/blog.css">

        <script src="../public/js/blog.js" defer></script>

        <title>Michael Zeleney's Portfolio</title>
    </head>

    <body>
        <nav id="nav_bar">
            <ul id="nav_list">
                <il class="nav_list_element"><a href="/index" class="nav_link">Home</a></il>
                <il class="nav_list_element"><a href="/my_resume" class="nav_link">Resume</a></il>
                <il class="nav_list_element"><a href="/my_fun_facts" class="nav_link">Fun Facts</a></il>
                <il class="nav_list_element"><a href="/blog" class="nav_link">Blog</a></il>
                <il class="nav_list_element"><a href="/trivia" class="nav_link">Trivia</a></il>
            </ul>
        </nav>

        <h1 id="page_title">Michael's Blog</h1>
    </header>

    <main id="main_content">
        <iframe src="https://www.bing.com/videos/search?q=linus+tech+tips+first+ever+ultrawide&&view=detail&mid=AED84DB64A5B22D51883AED84DB64A5B22D51883&&FORM=VRDGAR&ru=%2Fvideos%2Fsearch%3Fq%3Dlinus%2Btech%2Btips%2Bfirst%2Bever%2Bultrawide%26FORM%3DHDRSC4" title="Video from Linus Tech Tips about possibly the first ever ultra-wide monitor." id="iframe_linus"></iframe>

        <p id="linus_description">
            This video by Linus Tech Tips showcases possibly the first ever ultra-wide monitor, which may also be the first ever curved monitor. If you are passionate about computers or general technology, Linus Tech Tips' YouTube channel is a great place to learn.
             I appreciate that Linus paid an absurd amount of money for this monitor just to showcase it on his channel and to provide knowledge about the history of computers and tech. The monitor from the video shows how far we have come in todays technology.
             This monitor from 2009 is a box style monitor with 4 screens compared to todays world where we have the same size monitors, if not bigger, which are relatively flat monitors with only one screen.
             Linus goes on to display that the monitor, although old and outdated, will compete with monitors from today. The monitor, although extremely expensive, is a marvel of innovation from the past.
        </p>

        <hr>

        <button id="button_comment" type="button" onclick="addComment()">Add/Leave A Comment</button>
        <br>
        <textarea id="comment_text"></textarea>
        <button id="button_post" type="button" onclick="postComment()">Post Comment</button>
        
        <div id="comments">

        </div>
    </main>

    <footer id="page_footer">
        <hr>
        &copy;Michael Zeleney
        <address>
            MichaelZeleney@oakland.edu
            <br>
            1234 Street, City, State 12345
        </address>
    </footer>
    </body>
</html>