<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Home page for Michael Zeleney's Portfolio">
        <meta name="keywords" content="Portfolio, Michael Zeleney">
        <meta name="author" content="Michael Zeleney">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">

        <link rel="stylesheet" href="/public/css/index.css">

        <title>Michael Zeleney's Portfolio</title>
    </head>

    <body>
        <header id="page_header">
            <nav id="nav_bar">
                <ul id="nav_list">
                    <il class="nav_list_element"><a href="/index" class="nav_link">Home</a></il>
                    <il class="nav_list_element"><a href="/my_resume" class="nav_link">Resume</a></il>
                    <il class="nav_list_element"><a href="/my_fun_facts" class="nav_link">Fun Facts</a></il>
                    <il class="nav_list_element"><a href="/blog" class="nav_link">Blog</a></il>
                </ul>
            </nav>

            <h1 id="page_title">Michael Zeleney's Portfolio Website</h1>
        </header>

        <main id="main_content">
            <img src="/public/img/me.jpg" alt="A picture of Michael Zeleney." id="img_self">

            <blockquote class="quote">"You miss 100 percent of the shots you never take" -Wayne Gretzky</blockquote>
        </main>

        <section id="section_introduction">
            <article>
                <p>
                    My name is Michael Zeleney, I was born in Detroit but I lived in Clinton Township my entire life. I enjoy working on computers and programming/developing. Outside of computers I like to play hockey, dirtbike, and snowboard.
                     My current professional affiliation is with two companies. The first being Advance Auto Parts, and the second is a company called Levy where I work in IT out of Ford Field. I have worked many jobs in the past, but none of them were what I really want to do.
                     Some of them were related to cars, which I like to work on in my spare time, but thats not ultimately what I want to do in life. My professional goals would to one day be self employed, but I know that is a difficult task in this particular field of work.
                     Apart from that, I really enjoy working on computers and coding so I would like to become a developer, I enjoy video games so I thought about the possibility of game development, but im not quite sure where I want to end up yet.
                     To find out more about me checkout my <a href="html/my_resume.html" class="link">Resume</a> or <a href="html/my_fun_facts.html" class="link">Fun Facts</a> about me pages.
                </p>
            </article>

            <h2 id="progress_title">Progress to Degree</h2>
            <progress id="progress_to_degree" min=0 max=130 value=94>94</progress>
        </section>

        <footer id="page_footer">
            <hr>
            &copy;Michael Zeleney
            <address>
                MichaelZeleney@oakland.edu
                <br>
                1234 Street, City, State 12345
            </address>
        </footer>
    </body>
</html>