<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="About Me page for Michael Zeleney's Portfolio">
        <meta name="keywords" content="Portfolio, Michael Zeleney">
        <meta name="author" content="Michael Zeleney">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="../public/img/favicon.jpg" type="image/x-icon">

        <link rel="stylesheet" href="/public/css/my_fun_facts.css">

        <title>Michael Zeleney's Portfolio</title>
    </head>

    <body>
        <header id="page_header">
            <nav id="nav_bar">
                <ul id="nav_list">
                    <il class="nav_list_element"><a href="/index" class="nav_link">Home</a></il>
                    <il class="nav_list_element"><a href="/my_resume" class="nav_link">Resume</a></il>
                    <il class="nav_list_element"><a href="/my_fun_facts" class="nav_link">Fun Facts</a></il>
                    <il class="nav_list_element"><a href="/blog" class="nav_link">Blog</a></il>
                    <il class="nav_list_element"><a href="/trivia" class="nav_link">Trivia</a></il>
                </ul>
            </nav>

            <h1 id="page_title">Some fun facts about me</h1>
        </header>

        <main id="main_content">
            <section id="section_book">
                <h2 id="h2_book">Favorite Book</h2>
                <h3 id="h3_book">99: Stories of the Game</h3>
                <img src="https://images-na.ssl-images-amazon.com/images/I/51FhEyve4xL._SX329_BO1,204,203,200_.jpg" width="8%" alt="Cover image from the book 99: Stories of the Game by Wayne Gretzky.">
                <p>I like the book because the topic is about something which is very important to me and the author is the greatest player there has ever been. I enjoy reading and hearing stories about the game I love so much.
                    You can purchase the book <a href="https://www.amazon.com/99-Stories-Game-Wayne-Gretzky/dp/0399575472/ref=sr_1_6?dchild=1&keywords=hockey+book&qid=1633714397&sr=8-6" class="link">here</a>.</p>
            </section>

            <section id="section_audio">
                <h2 id="h2_song">Favorite Song</h2>
                <h3 id="h3_song">Black Sabbath, Black Sabbath</h3>
                <audio src="../audio/Black Sabbath  Black Sabbath  Black Sabbath 1970  HQ.mp3" controls>Your browser does not support this audio element.</audio>
                <p>You can also listen to the song on <a href="https://www.youtube.com/watch?v=ISXnYu-Or4w" class="link">Youtube</a>.</p>
            </section>

            <section id="section_video">
                <h2 id="h2_show">Favorite TV Series</h2>
                <h3 id="h3_show">Dexter</h3>
                <iframe src="https://www.bing.com/videos/search?q=dexter+2006+trailer&view=detail&mid=AF91A01377459A2A1603AF91A01377459A2A1603&FORM=VIRE" width="750px" height="400px">Your browser does not support this video element.</iframe>
            </section>
        </main>

        <footer id="page_footer">
            <hr>
            &copy;Michael Zeleney
            <address>
                MichaelZeleney@oakland.edu
                <br>
                1234 Street, City, State 12345
            </address>
        </footer>
    </body>
</html>