<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Home page for Michael Zeleney's Portfolio">
        <meta name="keywords" content="Portfolio, Michael Zeleney">
        <meta name="author" content="Michael Zeleney">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="../img/favicon.jpg" type="image/x-icon">

        <link rel="stylesheet" href="../css/trivia.css">

        <title>Michael Zeleney's Portfolio</title>
    </head>

    <body>
        <nav id="nav_bar">
            <ul id="nav_list">
                <il class="nav_list_element"><a href="/index" class="nav_link">Home</a></il>
                <il class="nav_list_element"><a href="/my_resume" class="nav_link">Resume</a></il>
                <il class="nav_list_element"><a href="/my_fun_facts" class="nav_link">Fun Facts</a></il>
                <il class="nav_list_element"><a href="/blog" class="nav_link">Blog</a></il>
                <il class="nav_list_element"><a href="/trivia" class="nav_link">Trivia</a></il>
            </ul>
        </nav>

        <h1 id="page_title">Trivia</h1>
    </body>
</html>