<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Home page for Michael Zeleney's Portfolio">
        <meta name="keywords" content="Portfolio, Michael Zeleney">
        <meta name="author" content="Michael Zeleney">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="../public/img/favicon.jpg" type="image/x-icon">

        <link rel="stylesheet" href="/public/css/trivia.css">

        <title>Michael Zeleney's Portfolio</title>
    </head>

    <body>
        <nav id="nav_bar">
            <ul id="nav_list">
                <il class="nav_list_element"><a href="/index" class="nav_link">Home</a></il>
                <il class="nav_list_element"><a href="/my_resume" class="nav_link">Resume</a></il>
                <il class="nav_list_element"><a href="/my_fun_facts" class="nav_link">Fun Facts</a></il>
                <il class="nav_list_element"><a href="/blog" class="nav_link">Blog</a></il>
                <il class="nav_list_element"><a href="/trivia" class="nav_link">Trivia</a></il>
            </ul>
        </nav>

        <h1 id="page_title">Trivia</h1>
    </body>

    <main>
        <form name="trivia">
            <p>
                1. Which artist famously cut off his own ear? <br>
                A: Vincent Van Gogh <br>
                B: Claude Monet <br>
                C: Salvador Dali <br>
                D: Pablo Picasso <br>
            </p>
            <input style="text-transform: uppercase;" type="text" name="Question1" placeholder="A, B, C, D">

            <br>

            <p>
                2. What are the official months of winter? <br>
                A: October, November, December <br>
                B: November, December, January <br>
                C: December, January, February <br>
                D: January, February, March <br>
            </p>
            <input style="text-transform: uppercase;" type="text" name="Question2" placeholder="A, B, C, D">

            <br>

            <p>
                3. What is the national flower/emblem of Ireland? <br>
                A: Daffodil <br>
                B: Rose <br>
                C: Shamrock <br>
                D: Thistle <br>
            </p>
            <input style="text-transform: uppercase;" type="text" name="Question3" placeholder="A, B, C, D">

            <br>
            
            <p>
                4. What is the national flower/emblem of Ireland? <br>
                A: Daffodil <br>
                B: Rose <br>
                C: Shamrock <br>
                D: Thistle <br>
            </p>
            <input style="text-transform: uppercase;" type="text" name="Question3" placeholder="A, B, C, D">

            <br>
            
            <p>
                5. Which actor played the Grinch? <br>
                A: Adam Sandler <br>
                B: Will Ferrell <br>
                C: Jim Carrey <br>
                D: Ben Stiller <br>
            </p>
            <input style="text-transform: uppercase;" type="text" name="Question3" placeholder="A, B, C, D">
        </form>
    </main>

    <footer>
        <hr>
            &copy;Michael Zeleney
            <address>
                MichaelZeleney@oakland.edu
                <br>
                1234 Street, City, State 12345
            </address>
    </footer>
</html>